body main{
    background-color: black;
}
.imagen-de-fondo-1{
    background-image:url(../assets/img/onemore.jpg) ;
    background-attachment: fixed;
}
@media screen {
    .imagen-de-fondo-1{
        height: 200px;
    }
}
.clases{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subtitulo{
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    font-style:normal;
    color: orange;
}
.googlemaps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}
.grid-container{
    display: grid;
    grid-template-columns: max-content ;
    grid-template-rows:  auto auto auto ;
    justify-content: center;
    justify-items: center;
    background-color: rgb(0, 0, 0);
    color: orange;
    font-family:monospace;
    padding: 20px;
}
/*clases*/
.imagen-de-fondo-2{
    background-image:url(../assets/img/itstartsherebanner.webp) ;
    background-attachment: fixed;
}
@media screen{
    .imagen-de-fondo-2{
        height: 200px;
    }
}
.videos{
    padding: 20px;
    margin: 10px;
    background-color: rgb(45, 44, 44);
    border-radius: 5%;
    border: solid rgb(38, 37, 37);
    display: flex;
    flex-wrap: wrap;
}
.descripcion{
    display:flex;
    flex-direction: column;
    font-family: fantasy;
    color: rgb(255, 166, 0);
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 30px;
    align-content: space-around;
    align-items: center;
}
/*Findus*/
main{
    background-color: black;
}
.motivacionimg{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-content: center;
    width: 100%;
    height: 450px;
}
@media (max-width:600px){
    .motivacionimg{
        height: 300px;
    }
    .maps{
        width: 300px;
        height: 300px;
    }
}
.mapas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-findus{
    color: rgb(135, 255, 65);
    font-size: 43px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 30px;
    text-align: center;
}
.parrafo-findus{
    color: rgba(255, 255, 255, 0.685);
    font-size: 30px;
    text-align: center;
    padding:10px 30px 40px 30px;
}
.encuentro{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.maps{
    padding: 20px ;
    display: flex;
    justify-content: center;
}
.parraf{
    color: rgb(9, 255, 0);
    font-size: 16px;
    text-align: center;
}